<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="config" type="JarApplication">
    <option name="WORKING_DIRECTORY" value="$PROJECT_DIR$" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="ALTERNATIVE_JRE_PATH" value="corretto-11" />
    <module name="baisc_1_arrays_methods" />
    <method v="2" />
  </configuration>
</component>